<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Helm list</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">AC</th>
            <th scope="col">Hitpoints</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let helm of helms">
            <td>{{ helm.id }}</td>
            <td>{{ helm.name }}</td>
            <td>{{ helm.AC }}</td>
            <td>{{ helm.hitpoints }}</td>
            <td>
              <a
                class="btn btn-warning"
                routerLink="/helm/update/{{ helm.id }}"
              >
                Edit
              </a>
              <button
                class="btn btn-danger"
                (click)="onDelete(helm.id)"
                [disabled]="loading"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a class="btn btn-primary" routerLink="/helm/create">Add helm</a>
    </div>
  </div>
</div>
