<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" [routerLink]="['/dashboard']">Naval Combat D&D</a>
  </div>
</nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/hull/list']">Hulls</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/helm/list']">Helms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/sails/list']">Sails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/weapon/list']">Weapons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/ship/list']">Ships</a>
  </li>
</ul>
