<div class="container">
  <div class="card">
    <div *ngIf="!sails" class="spinner-border" role="status">
      <span class="visually-hidden"></span>
    </div>
    <div class="card-body" *ngIf="sails">
      <h5 *ngIf="isCreateMode" class="card-title">Create a new Sails</h5>
      <h5 *ngIf="!isCreateMode" class="card-title">Update this Sails</h5>
      <hr />
      <form [formGroup]="sailsForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            formControlName="name"
          />
          <div
            *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">AC</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="AC"
          />
          <div
            *ngIf="f.AC.invalid && (f.AC.dirty || f.AC.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.AC.errors.required">AC is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Hitpoints</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="hitpoints"
          />
          <div
            *ngIf="
              f.hitpoints.invalid && (f.hitpoints.dirty || f.hitpoints.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.hitpoints.errors.required">
              Hitpoints is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Speed</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="speed"
          />
          <div
            *ngIf="
              f.speed.invalid &&
              (f.speed.dirty || f.speed.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.speed.errors.required">
              Speed is required.
            </div>
          </div>
        </div>
        <br />
        <a class="btn btn-secondary" routerLink="/sails/list">Back</a>
        <button
          [disabled]="loading"
          [disabled]="!sailsForm.valid"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
