<div class="container">
  <div class="card">
    <div *ngIf="!cannon" class="spinner-border" role="status">
      <span class="visually-hidden"></span>
    </div>
    <div class="card-body" *ngIf="cannon">
      <h5 *ngIf="isCreateMode" class="card-title">Create a new Cannon</h5>
      <h5 *ngIf="!isCreateMode" class="card-title">Update this Cannon</h5>
      <hr />
      <form [formGroup]="cannonForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name (example)"
            formControlName="name"
          />
          <div
            *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">AC</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="AC"
          />
          <div
            *ngIf="f.AC.invalid && (f.AC.dirty || f.AC.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.AC.errors.required">AC is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Hitpoints</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="hitpoints"
          />
          <div
            *ngIf="
              f.hitpoints.invalid && (f.hitpoints.dirty || f.hitpoints.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.hitpoints.errors.required">
              Hitpoints is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">HitDice</label>
          <input
            type="text"
            class="form-control"
            placeholder="1d4 (example)"
            formControlName="hitDice"
          />
          <div
            *ngIf="
              f.hitDice.invalid &&
              (f.hitDice.dirty || f.hitDice.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.hitDice.errors.required">
              HitDice is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">DamageDice</label>
          <input
            type="text"
            class="form-control"
            placeholder="1d4 (example)"
            formControlName="damageDice"
          />
          <div
            *ngIf="
              f.damageDice.invalid &&
              (f.damageDice.dirty || f.damageDice.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.damageDice.errors.required">
              DamageDice is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Range</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="range"
          />
          <div
            *ngIf="f.range.invalid && (f.range.dirty || f.range.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.range.errors.required">Range is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Disadvantage Range</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="disadvantageRange"
          />
          <div
            *ngIf="f.disadvantageRange.invalid && (f.disadvantageRange.dirty || f.disadvantageRange.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.disadvantageRange.errors.required">Disadvantage Range is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Crew</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="crew"
          />
          <div
            *ngIf="f.crew.invalid && (f.crew.dirty || f.crew.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.crew.errors.required">Crew is required.</div>
          </div>
        </div>
        <br />
        <a class="btn btn-secondary" routerLink="/cannon/list">Back</a>
        <button
          [disabled]="loading"
          [disabled]="!cannonForm.valid"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
