<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Weapons list</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">AC</th>
            <th scope="col">Hitpoints</th>
            <th scope="col">Range</th>
            <th scope="col">Disadvantage Range</th>
            <th scope="col">HitDice</th>
            <th scope="col">DamageDice</th>
            <th scope="col">Crew</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cannon of cannons">
            <td>{{ cannon.id }}</td>
            <td>{{ cannon.name }}</td>
            <td>{{ cannon.AC }}</td>
            <td>{{ cannon.hitpoints }}</td>
            <td>{{ cannon.range }}</td>
            <td>{{ cannon.disadvantageRange }}</td>
            <td>{{ cannon.hitDice }}</td>
            <td>{{ cannon.damageDice }}</td>
            <td>{{ cannon.crew }}</td>
            <td>
              <a
                class="btn btn-warning"
                routerLink="/cannon/update/{{ cannon.id }}"
              >
                Edit
              </a>
              <button
                class="btn btn-danger"
                (click)="onDelete(cannon.id)"
                [disabled]="loading"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a class="btn btn-primary" routerLink="/cannon/create">Add cannon</a>
    </div>
  </div>
</div>
