<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hull list</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">AC</th>
            <th scope="col">Hitpoints</th>
            <th scope="col">D. Treshold</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hull of hulls">
            <td>{{ hull.id }}</td>
            <td>{{ hull.name }}</td>
            <td>{{ hull.AC }}</td>
            <td>{{ hull.hitpoints }}</td>
            <td>{{ hull.damageTreshold }}</td>
            <td>
              <a
                class="btn btn-warning"
                routerLink="/hull/update/{{ hull.id }}"
              >
                Edit
              </a>
              <button
                class="btn btn-danger"
                (click)="onDelete(hull.id)"
                [disabled]="loading"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a class="btn btn-primary" routerLink="/hull/create">Add hull</a>
    </div>
  </div>
</div>
