<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ship list</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Sails</th>
            <th scope="col">Hull</th>
            <th scope="col">Helm</th>
            <th scope="col">Cannons#</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ship of ships">
            <td>{{ ship.id }}</td>
            <td>{{ ship.name }}</td>
            <td>{{ ship.sails.name }}</td>
            <td>{{ ship.hull.name }}</td>
            <td>{{ ship.helm.name }}</td>
            <td>{{ ship.cannons.length }}</td>
            <td>
              <a
                class="btn btn-warning"
                routerLink="/ship/details/{{ ship.id }}"
              >
                Details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <a class="btn btn-primary" routerLink="/ship/create">Add ship</a>
    </div>
  </div>
</div>
