.col-3 {
  padding: 0px;
}
.col-6 {
  padding: 0px;
}

.col-4 {
  text-align: center;
}

.side {
  width: 25%;
}

li {
  padding-left: 5px;
  padding-right: 5px;
}

.box {
  width: 38px;
  height: 38px;
  float: right;
  margin: auto;
  border: 1px solid black;
  clear: both;
}

h2 {
  width: 150px;
  //   margin: 0px;
  //   margin-block-start: 0px;
  //   margin-block-end: 0px;
}

.movement {
  width: 350px;
}

#container {
  display: table;
  width: 100%;
}

#container > div {
  display: table-cell;
}

.right {
  text-align: right;
}

.grid-container {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 5px;
  height: 613px;
  width: 700px;
  padding: -1px;
}

.side-container {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 5px;
  height: 613px;
  width: 240px;
  text-align: center;
}

.compass-container {
  width: 200px;
  height: 200px;
  margin: auto;
}

.compass-west {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.compass-north-west {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
}

.compass-north {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.compass-north-east {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.compass-east {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.compass-south-east {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.compass-south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);

  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.compass-south-west {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.grid-cel {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: auto;
  height: auto;
}

.right {
  text-align: right;
}

span {
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

progress {
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.modalDown{
  margin-top: 5px;
}

.move {
  margin-top: 5px;
}

.modal {
  width: 100px;
  margin-left: 10px;
}

.space {
  margin-left: 10px;
}

.wide {
  width: 148px;
}

.widexs {
  width: 112px;
}

h5 {
  margin-bottom: 0px;
}

.compass {
  width: 200px;
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #ececec);
  position: relative;
  margin: 0 auto;
}

.compass-inner {
  width: 170px;
  height: 170px;
  background-color: #3d3d3d;
  border-radius: 100%;
  position: relative;
  left: 15px;
  top: 15px;
  border: 3px solid #c5c5c5;
}

.main-arrow {
  height: 100%;
  width: 20px;
  left: 75px;
  margin: auto;
  padding-top: 2.5px;
  box-sizing: border-box;

  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 4000ms;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.arrow-up {
  width: 0;
  height: 0;
  margin: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 82.5px solid #ef5052;
  position: relative;
}

.arrow-down {
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  width: 0;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 82.5px solid #f3f3f3;
  position: relative;
}

.north {
  font-size: 18px;
  font-family: "Lobster Two", cursive;
  color: #fff;
  position: absolute;
  left: 75px;
  top: 5px;
}

.east {
  font-size: 18px;
  font-family: "Lobster Two", cursive;
  color: #fff;
  position: absolute;
  left: 145px;
  top: 68.5px;
}

.west {
  font-size: 18px;
  font-family: "Lobster Two", cursive;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 68.5px;
}

.south {
  font-size: 18px;
  font-family: "Lobster Two", cursive;
  color: #fff;
  position: absolute;
  left: 75px;
  top: 140px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-7deg);
  }
  90% {
    -webkit-transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-7deg);
  }
  90% {
    -webkit-transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
