<div class="row" *ngIf="board && board.teams">
  <div class="col-3">
    <div class="card">
      <div class="card-body" >
        <div>
          <h2>
            Team 1
            <div
              class="box"
              [style.background-color]="board.teams[0].color"
            ></div>
          </h2>
        </div>
        <hr />
        <div *ngIf="board">
          <h4>{{ board.teams[0].ship.name }}</h4>

          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Hull: ({{ ship1.hull.AC }})</b>
              </div>
              <div class="right">
                <span
                  >{{ ship1.hull.actualHitpoints }}/{{
                    ship1.hull.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship1.hull.actualHitpoints"
                  [max]="ship1.hull.hitpoints"
                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship1hull)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Helm: ({{ ship1.helm.AC }}) </b>
              </div>
              <div class="right">
                <span
                  >{{ ship1.helm.actualHitpoints }}/{{
                    ship1.helm.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship1.helm.actualHitpoints"
                  [max]="ship1.helm.hitpoints"
                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship1helm)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Sails: ({{ ship1.sails.AC }})</b>
              </div>
              <div class="right">
                <span
                  >{{ ship1.sails.actualHitpoints }}/{{
                    ship1.sails.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship1.sails.actualHitpoints"
                  [max]="ship1.sails.hitpoints"
                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship1sails)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Movement</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Speed: {{ ship1.sails.actualSpeed }} ft.</span>
          </li>
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Current Facing</label>
              </div>
              <select
                class="custom-select"
                [disabled]="this.ship1.helm.isDestroyed"
                (change)="onEditShip1FacingClick($event.target.value)"
                [(ngModel)]="this.ship1.facing"
              >
                <option
                  *ngFor="let direction of BoatDirection"
                  [value]="direction.value"
                >
                  {{ direction.title }}
                </option>
              </select>
            </div>
          </li>
        </ul>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'NorthWest') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1NorthWest()"
        >
          Move NorthWest
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 widexs"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'North') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1North()"
        >
          Move North
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'NorthEast') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1NorthEast()"
        >
          Move NorthEast
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'West') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1West()"
        >
          Move West
        </button>
        <button
          type="button"
          class="btn move btn-warning btn-outline-secondary mr-2 widexs"
          [disabled]="this.ship1.isDecapitated || this.distanceBetweenShips > 50"
        >
          Ramming
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'East') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1East()"
        >
          Move East
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'SouthWest') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1SouthWest()"
        >
          Move SouthWest
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 widexs"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'South') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1South()"
        >
          Move South
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship1.helm.isDestroyed && this.ship1.facing != 'SouthEast') ||
            this.ship1.isDecapitated
          "
          (click)="moveShip1SouthEast()"
        >
          Move SouthEast
        </button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2>Main Game</h2>
        <div class="row">
          <div class="grid-container">
            <canvas #canvas [width]="width" [height]="height"></canvas>
          </div>
          <div class="side-container">
            <h3>Weather</h3>
            <div class="compass">
              <div class="compass-inner">
                <div class="north">N</div>
                <div class="east">E</div>
                <div class="west">W</div>
                <div class="south">S</div>
                <div *ngIf="board.wind === 'North'" class="compass-north">
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div *ngIf="board.wind === 'East'" class="compass-east">
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div *ngIf="board.wind === 'South'" class="compass-south">
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div *ngIf="board.wind === 'West'" class="compass-west">
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div
                  *ngIf="board.wind === 'NorthEast'"
                  class="compass-north-east"
                >
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div
                  *ngIf="board.wind === 'SouthEast'"
                  class="compass-south-east"
                >
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div
                  *ngIf="board.wind === 'SouthWest'"
                  class="compass-south-west"
                >
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <div
                  *ngIf="board.wind === 'NorthWest'"
                  class="compass-north-west"
                >
                  <div class="main-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text"><b>Weather: </b></label>
              </div>
              <select
                class="custom-select"
                (change)="onEditWeatherClick($event.target.value)"
              >
                <option *ngIf="board.weather" selected hidden>
                  {{ board.weather }}
                </option>
                <option *ngFor="let w of weather" [value]="w.value">
                  {{ w.title }}
                </option>
              </select>
            </div>
            <hr />
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text"><b>Wind: </b></label>
              </div>
              <select
                class="custom-select"
                (change)="onEditWindClick($event.target.value)"
              >
                <option *ngIf="board.wind" selected hidden>
                  {{ board.wind }}
                </option>
                <option
                  *ngFor="let direction of BoatDirection"
                  [value]="direction.value"
                >
                  {{ direction.title }}
                </option>
              </select>
            </div>
            <hr />
            <b>Distance: {{ distanceBetweenShips }} ft.</b>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h2>
          Team 2
          <div
            class="box"
            [style.background-color]="board.teams[1].color"
          ></div>
        </h2>
        <hr />
        <div *ngIf="board">
          <h4>{{ board.teams[1].ship.name }}</h4>

          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Hull: ({{ ship1.hull.AC }})</b>
              </div>
              <div class="right">
                <span
                  >{{ ship2.hull.actualHitpoints }}/{{
                    ship2.hull.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship2.hull.actualHitpoints"
                  [max]="ship2.hull.hitpoints"

                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship2hull)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Helm: ({{ ship2.helm.AC }}) </b>
              </div>
              <div class="right">
                <span
                  >{{ ship2.helm.actualHitpoints }}/{{
                    ship2.helm.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship2.helm.actualHitpoints"
                  [max]="ship2.helm.hitpoints"
                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship2helm)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item" id="container">
              <div>
                <b>Sails: ({{ ship2.sails.AC }})</b>
              </div>
              <div class="right">
                <span
                  >{{ ship2.sails.actualHitpoints }}/{{
                    ship2.sails.hitpoints
                  }}</span
                >
                <progress
                  id="health"
                  [value]="ship2.sails.actualHitpoints"
                  [max]="ship2.sails.hitpoints"
                ></progress>
                <button
                  type="button"
                  class="btn btn-outline-secondary space mr-2"
                  (click)="openShipModal(ship2sails)"
                >
                  Actions
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Movement</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Speed: {{ ship2.sails.actualSpeed }} ft.</span>
          </li>
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Current Facing</label>
              </div>
              <select
                class="custom-select"
                [disabled]="this.ship2.helm.isDestroyed"
                (change)="onEditShip2FacingClick($event.target.value)"
                [(ngModel)]="this.ship2.facing"
              >
                <option
                  *ngFor="let direction of BoatDirection"
                  [value]="direction.value"
                >
                  {{ direction.title }}
                </option>
              </select>
            </div>
          </li>
        </ul>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'NorthWest') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2NorthWest()"
        >
          Move NorthWest
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 widexs"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'North') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2North()"
        >
          Move North
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'NorthEast') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2NorthEast()"
        >
          Move NorthEast
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'West') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2West()"
        >
          Move West
        </button>
        <button
          type="button"
          class="btn move btn-warning btn-outline-secondary mr-2 widexs"
          [disabled]="this.ship2.isDecapitated || this.distanceBetweenShips > 50"
        >
          Ramming
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'East') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2East()"
        >
          Move East
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'SouthWest') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2SouthWest()"
        >
          Move SouthWest
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 widexs"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'South') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2South()"
        >
          Move South
        </button>
        <button
          type="button"
          class="btn move btn-outline-secondary mr-2 wide"
          [disabled]="
            (this.ship2.helm.isDestroyed && this.ship2.facing != 'SouthEast') ||
            this.ship2.isDecapitated
          "
          (click)="moveShip2SouthEast()"
        >
          Move SouthEast
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #ship1hull let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Hull Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Damage Treshold = {{ this.ship1.hull.damageTreshold }}</b>
    <hr />
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitHullShip1(damageHullShip1.value)">
          <div class="input-group form-inline">
            <input
              #damageHullShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairHullShipOne(repairHullShip1.value)">
          <div class="input-group form-inline">
            <input
              #repairHullShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #ship1helm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Helm Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitHelmShip1(damageHelmShip1.value)">
          <div class="input-group form-inline">
            <input
              #damageHelmShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairHelmShipOne(repairHelmShip1.value)">
          <div class="input-group form-inline">
            <input
              #repairHelmShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #ship1sails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Sails Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitSailsShip1(damageSailsShip1.value)">
          <div class="input-group form-inline">
            <input
              #damageSailsShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairSailsShipOne(repairSailsShip1.value)">
          <div class="input-group form-inline">
            <input
              #repairSailsShip1
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>


<!-- //////////////////////////////////////////////////////////////////////////////////// -->


<ng-template #ship2hull let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Hull Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Damage Treshold = {{ this.ship2.hull.damageTreshold }}</b>
    <hr />
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitHullShip2(damageHullShip2.value)">
          <div class="input-group form-inline">
            <input
              #damageHullShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairHullShipTwo(repairHullShip2.value)">
          <div class="input-group form-inline">
            <input
              #repairHullShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #ship2helm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Helm Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitHelmShip2(damageHelmShip2.value)">
          <div class="input-group form-inline">
            <input
              #damageHelmShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairHelmShipTwo(repairHelmShip2.value)">
          <div class="input-group form-inline">
            <input
              #repairHelmShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #ship2sails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Sails Damage and/or Repair
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Damage:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="hitSailsShip2(damageSailsShip2.value)">
          <div class="input-group form-inline">
            <input
              #damageSailsShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Hit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="modalDown"><b>Repair:</b></label>
      </div>

      <div class="col-10">
        <form (submit)="repairSailsShipTwo(repairSailsShip2.value)">
          <div class="input-group form-inline">
            <input
              #repairSailsShip2
              type="number"
              placeholder="0"
              class="form-control mx-sm-3 mb-2"
            />
            <button class="btn btn-primary mb-2 widexs">Repair</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
