<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sails list</h5>
      <table class="table" *ngIf="sails">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">AC</th>
            <th scope="col">Hitpoints</th>
            <th scope="col">Speed</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sail of sails">
            <td>{{ sail.id }}</td>
            <td>{{ sail.name }}</td>
            <td>{{ sail.AC }}</td>
            <td>{{ sail.hitpoints }}</td>
            <td>{{ sail.speed }}</td>
            <td>
              <a
                class="btn btn-warning"
                routerLink="/sails/update/{{ sail.id }}"
              >
                Edit
              </a>
              <button
                class="btn btn-danger"
                (click)="onDelete(sail.id)"
                [disabled]="loading"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a class="btn btn-primary" routerLink="/sails/create">Add Sails</a>
    </div>
  </div>
</div>
