<div class="container">
  <div class="card">
    <div class="card-body" *ngIf="ship">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group">
            <li class="list-group-item"><h4>Ship Details:</h4></li>
            <li class="list-group-item">Name: {{ ship.name }}</li>
            <li class="list-group-item">Crew: {{ ship.crew }}</li>
            <li class="list-group-item">Propulsion: {{ ship.propulsion }}</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="list-group">
            <li class="list-group-item"><h4>Helm:</h4></li>
            <li class="list-group-item">Name: {{ ship.helm.name }}</li>
            <li class="list-group-item">AC: {{ ship.helm.AC }}</li>
            <li class="list-group-item">
              Hitpoints: {{ ship.helm.hitpoints }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <ul class="list-group">
            <li class="list-group-item"><h4>Sails:</h4></li>
            <li class="list-group-item">Name: {{ ship.sails.name }}</li>
            <li class="list-group-item">AC: {{ ship.sails.AC }}</li>
            <li class="list-group-item">
              Hitpoints: {{ ship.sails.hitpoints }}
            </li>
            <li class="list-group-item">Speed: {{ ship.sails.speed }}</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="list-group">
            <li class="list-group-item"><h4>Hull:</h4></li>
            <li class="list-group-item">Name: {{ ship.hull.name }}</li>
            <li class="list-group-item">AC: {{ ship.hull.AC }}</li>
            <li class="list-group-item">
              Hitpoints: {{ ship.hull.hitpoints }}
            </li>
            <li class="list-group-item">
              Damage Treshold: {{ ship.hull.damageTreshold }}
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <h4>Cannons on the Bow:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">AC</th>
              <th scope="col">Hitpoints</th>
              <th scope="col">Range</th>
              <th scope="col">Disadvantage Range</th>
              <th scope="col">HitDice</th>
              <th scope="col">DamageDice</th>
              <th scope="col">Crew</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cannon of ship.cannons">
              <ng-container *ngIf="cannon.position === 'Bow'">
                <td>{{ cannon.id }}</td>
                <td>{{ cannon.name }}</td>
                <td>{{ cannon.AC }}</td>
                <td>{{ cannon.hitpoints }}</td>
                <td>{{ cannon.range }}</td>
                <td>{{ cannon.disadvantageRange }}</td>
                <td>{{ cannon.hitDice }}</td>
                <td>{{ cannon.damageDice }}</td>
                <td>{{ cannon.crew }}</td>

              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
        <h4>Cannons on the Port side:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">AC</th>
              <th scope="col">Hitpoints</th>
              <th scope="col">Range</th>
              <th scope="col">Disadvantage Range</th>
              <th scope="col">HitDice</th>
              <th scope="col">DamageDice</th>
              <th scope="col">Crew</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cannon of ship.cannons">
              <ng-container *ngIf="cannon.position === 'Port'">
                <td>{{ cannon.id }}</td>
                <td>{{ cannon.name }}</td>
                <td>{{ cannon.AC }}</td>
                <td>{{ cannon.hitpoints }}</td>
                <td>{{ cannon.range }}</td>
                <td>{{ cannon.disadvantageRange }}</td>
                <td>{{ cannon.hitDice }}</td>
                <td>{{ cannon.damageDice }}</td>
                <td>{{ cannon.crew }}</td>

              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
        <h4>Cannons on the Starboard side:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">AC</th>
              <th scope="col">Hitpoints</th>
              <th scope="col">Range</th>
              <th scope="col">Disadvantage Range</th>
              <th scope="col">HitDice</th>
              <th scope="col">DamageDice</th>
              <th scope="col">Crew</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cannon of ship.cannons">
              <ng-container *ngIf="cannon.position === 'Starboard'">
                <td>{{ cannon.id }}</td>
                <td>{{ cannon.name }}</td>
                <td>{{ cannon.AC }}</td>
                <td>{{ cannon.hitpoints }}</td>
                <td>{{ cannon.range }}</td>
                <td>{{ cannon.disadvantageRange }}</td>
                <td>{{ cannon.hitDice }}</td>
                <td>{{ cannon.damageDice }}</td>
                <td>{{ cannon.crew }}</td>

              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
        <h4>Cannons on the Stern:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">AC</th>
              <th scope="col">Hitpoints</th>
              <th scope="col">Range</th>
              <th scope="col">Disadvantage Range</th>
              <th scope="col">HitDice</th>
              <th scope="col">DamageDice</th>
              <th scope="col">Crew</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cannon of ship.cannons">
              <ng-container *ngIf="cannon.position === 'Stern'">
                <td>{{ cannon.id }}</td>
                <td>{{ cannon.name }}</td>
                <td>{{ cannon.AC }}</td>
                <td>{{ cannon.hitpoints }}</td>
                <td>{{ cannon.range }}</td>
                <td>{{ cannon.disadvantageRange }}</td>
                <td>{{ cannon.hitDice }}</td>
                <td>{{ cannon.damageDice }}</td>
                <td>{{ cannon.crew }}</td>

              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
