<div class="container">
  <form [formGroup]="teamForm">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4>Weather</h4>
            <hr />
            <label class="form-label">Weather type</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="weather"
            >
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let weather of weatherTypes" [ngValue]="weather">
                {{ weather.title }}
              </option>
            </select>
            <div
              *ngIf="
                f.weather.invalid && (f.weather.dirty || f.weather.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="f.weather.errors.required">Weather is required.</div>
            </div>
            <label class="form-label">Wind Direction</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="wind"
            >
              <option value="" disabled selected>Select your option</option>
              <option
                *ngFor="let direction of windDirection"
                [ngValue]="direction"
              >
                {{ direction.title }}
              </option>
            </select>
            <div
              *ngIf="f.wind.invalid && (f.wind.dirty || f.wind.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.wind.errors.required">Wind is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4>Team 1</h4>
            <hr />
            <label>Ship type:</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="team1"
            >
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let ship of ships" [ngValue]="ship">
                {{ ship.name }}
              </option>
            </select>
            <div
              *ngIf="f.team1.invalid && (f.team1.dirty || f.team1.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.team1.errors.required">
                Atleast 1 Ship is required.
              </div>
            </div>
            <label>Team Color:</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="color1"
              (change)="selectColorTeam1($event.target.value)"
            >
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let color of colors" [ngValue]="color.value" [hidden]="color.value == disabledColorTeam1">
                {{ color.title }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4>Team 2</h4>
            <hr />
            <label>Ship type:</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="team2"
            >
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let ship of ships" [ngValue]="ship">
                {{ ship.name }}
              </option>
            </select>
            <div
              *ngIf="f.team2.invalid && (f.team2.dirty || f.team2.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.team2.errors.required">
                Atleast 1 Ship is required.
              </div>
            </div>
            <label>Team Color:</label>
            <select
              class="form-select form-control form-select-lg mb-3"
              formControlName="color2"
              (change)="selectColorTeam2($event.target.value)"
            >
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let color of colors" [ngValue]="color.value" [hidden]="color.value == disabledColorTeam2">
                {{ color.title }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary" (click)="onSubmit()">
              Start battle!
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
