{{ board.teams[0].ship.positionX.toString() }}
{{ board.teams[0].ship.positionY.toString() }}

{{ board.teams[1].ship.positionX.toString() }}
{{ board.teams[1].ship.positionY.toString() }}
<p>ships works</p>

<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <h1>{{ board.teams[0].name }}</h1>
      </li>
      <li class="list-group-item">Ship Name: {{ board.teams[0].ship.name }}</li>
      <li class="list-group-item">Crew: {{ board.teams[0].ship.crew }}</li>
      <li class="list-group-item">Size: {{ board.teams[0].ship.size }}</li>
      <li class="list-group-item">
        Propulsion: {{ board.teams[0].ship.propulsion }}
      </li>
      <li class="list-group-item">
        position X: {{ board.teams[0].ship.positionX }}
      </li>
      <li class="list-group-item">
        position Y: {{ board.teams[0].ship.positionY }} <button (click)="moveNorthTest()">click</button>
      </li>

      <li class="list-group-item"><h3>Hull: </h3> <button (click)="hitHullTest()">click</button></li>

      <li class="list-group-item">
        Hull AC: {{ board.teams[0].ship.hull.AC }}
      </li>
      <li class="list-group-item">
        Hull Hitpoints: {{ board.teams[0].ship.hull.actualHitpoints }}
      </li>
      <li class="list-group-item">
        Hull DamageTreshold: {{ board.teams[0].ship.hull.damageTreshold }}
      </li>

      <li class="list-group-item"><h3>Helm:</h3><button (click)="hitHelmTest()">click</button></li>

      <li class="list-group-item">
        Helm AC: {{ board.teams[0].ship.helm.AC }}
      </li>
      <li class="list-group-item">
        Helm Hitpoints: {{ board.teams[0].ship.helm.hitpoints }}
      </li>

      <li class="list-group-item"><h3>Sails:</h3> <button (click)="hitSailsTest()">click</button></li>

      <li class="list-group-item">
        Sails AC: {{ board.teams[0].ship.sails.AC }}
      </li>
      <li class="list-group-item">
        Sails Hitpoints: {{ board.teams[0].ship.sails.actualHitpoints}}
      </li>
      <li class="list-group-item">
        Sails Speed: {{ board.teams[0].ship.sails.actualSpeed }}
      </li>

      <li class="list-group-item"><h3>Cannons:</h3><button (click)="hitCannon1Test()">click</button></li>

      <li class="list-group-item">
        <p *ngFor="let cannon of board.teams[0].ship.cannons">
          AC: {{ cannon.AC }} Hitpoints: {{ cannon.hitpoints }} HitDice:
          {{ cannon.hitDice }} DamageDice: {{ cannon.damageDice }} Range:
          {{ cannon.range }} isBroken: {{ cannon.isBroken }} position:
          {{ cannon.position }}
        </p>
      </li>
    </ul>
  </div>
</div>
