<div class="container">
  <div class="card">
    <div class="card-body">
      <p>dashboard works!</p>
      <a class="btn btn-primary" [routerLink]="['/teams']">create teams!</a>
    </div>
  </div>
</div>
