<div class="container">
  <div class="card">
    <div
      *ngIf="!cannons && !hulls && !helms && !sails"
      class="spinner-border"
      role="status"
    >
      <span class="visually-hidden"></span>
    </div>
    <div class="card-body" *ngIf="cannons && hulls && helms && sails">
      <h4 *ngIf="isCreateMode" class="card-title">Create a new Ship</h4>
      <hr />
      <form [formGroup]="shipForm">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name (example)"
            formControlName="name"
          />
          <div
            *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Crew</label>
          <input
            type="number"
            class="form-control"
            placeholder="0"
            formControlName="crew"
          />
          <div
            *ngIf="f.crew.invalid && (f.crew.dirty || f.crew.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.crew.errors.required">Crew is required.</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Hull</label>
          <select
            class="form-select form-control form-select-lg mb-3"
            formControlName="hull"
          >
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let hull of hulls" [ngValue]="hull">
              {{ hull.name }}, HP:{{ hull.hitpoints }}, AC:{{ hull.AC }},
              Treshold:{{ hull.damageTreshold }}
            </option>
          </select>
          <div
            *ngIf="f.hull.invalid && (f.hull.dirty || f.hull.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.hull.errors.required">Hull is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Helm</label>
          <select
            class="form-select form-control form-select-lg mb-3"
            formControlName="helm"
          >
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let helm of helms" [ngValue]="helm">
              {{ helm.name }}, HP:{{ helm.hitpoints }}, AC:{{ helm.AC }}
            </option>
          </select>
          <div
            *ngIf="f.helm.invalid && (f.helm.dirty || f.helm.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.helm.errors.required">Helm is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Sails</label>
          <select
            class="form-select form-control form-select-lg mb-3"
            formControlName="sails"
          >
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let sail of sails" [ngValue]="sail">
              {{ sail.name }}, HP:{{ sail.hitpoints }}, AC:{{ sail.AC }},
              Speed:{{ sail.speed }}
            </option>
          </select>
        </div>
        <label class="form-label">Cannons:</label>
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let cannon of ship.cannons"
          >
            {{ cannon.name }}: {{ cannon.position }}
            <button class="btn btn-danger">delete</button>
          </li>
        </ul>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Cannons</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="cannonForm">
              <div class="mb-3">
                <label class="form-label">Cannon:</label>
                <select
                  class="form-select form-control form-select-lg mb-3"
                  formControlName="cannon"
                >
                  <option value="" disabled selected>Select your option</option>
                  <option *ngFor="let cannon of cannons" [ngValue]="cannon">
                    {{ cannon.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    c.cannon.invalid && (c.cannon.dirty || c.cannon.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="c.cannon.errors.required">
                    Cannon is required.
                  </div>
                </div>
                <label>Position:</label>
                <select
                  class="form-select form-control form-select-lg mb-3"
                  formControlName="position"
                >
                  <option value="" disabled selected>Select your option</option>
                  <option *ngFor="let pos of positions" [ngValue]="pos.value">
                    {{ pos.title }}
                  </option>
                </select>
                <div
                  *ngIf="
                    c.position.invalid &&
                    (c.position.dirty || c.position.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="c.position.errors.required">
                    Position is required.
                  </div>
                </div>
                <label>Amount: </label>
                <input
                  formControlName="amount"
                  placeholder="0"
                  class="form-control"
                  type="number"
                />
                <div
                  *ngIf="
                    c.amount.invalid && (c.amount.dirty || c.amount.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="c.amount.errors.required">
                    Amount is required.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('Save click'); onCannonSubmit()"
            >
              Save
            </button>
          </div>
        </ng-template>

        <button class="btn btn-primary" (click)="open(content)">
          Add Cannon
        </button>

        <hr />

        <button
          [disabled]="loading"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
